@model zpi_aspnet_test.Models.MainViewModel
@{
    ViewBag.Title = "Product Selection";
}

<asp:DropDownList runat="server" CssClass="form-control" ID="something" />

@Html.Partial("_FormsView")

<div class="row" style="margin-top: 10px">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">State</th>
            <th scope="col">Tax</th>
            <th scope="col">Number Of Products</th>
            <th scope="col">Purchase Price</th>
            <th scope="col">Preferred Price (with tax)</th>
            <th scope="col">Final Price (without tax)</th>
            <th scope="col">Profit margin</th>
        </tr>
        @for (int i = 0; i < Model.StateNameList.Count; i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td>@Model.StateNameList[@i]</td>
                <td>@Model.Tax[@i]%</td>
                <td>@Model.NumberOfProducts</td>
                <td>@(Model.PurchasePrice * Model.NumberOfProducts)$</td>
                <td>@(Model.PreferredPrice * Model.NumberOfProducts)$</td>
                <td>@Model.FinalPrice[@i]$</td>
                <td>@Model.Margin[@i]$</td>
            </tr>
        }
        </thead>
    </table>
</div>

@section scripts
{
    <script>
        $('.nav-tabs a').click(function () {
            $(this).tab('show');
        });

        $('.nav-tabs a[href="#byProduct"]').tab('show');
    </script>
}